<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">loggers</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileBankLogger" fileName="${basePath}/Bank.log"
                     filePattern="${basePath}/Bank-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <RollingFile name="tests" fileName="${basePath}/tests.log"
                     filePattern="${basePath}/ReportServiceJUnit-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <RollingFile name="fileServicesLogger" fileName="${basePath}/Services.log"
                     filePattern="${basePath}/Services-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>

    </Appenders>
    <Loggers>
        <Logger name="bankone.com.bankdata" level="debug" additivity="true">
            <appender-ref ref="fileBankLogger" level="debug" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
        <Logger name="bankone.com.services" level="debug" additivity="true">
            <appender-ref ref="fileServicesLogger" level="debug" />
        </Logger>
        <Logger name="test.java.bankone" level="debug" additivity="true">
            <appender-ref ref="tests" level="debug" />
        </Logger>
    </Loggers>
</Configuration>